html,
body {
    height: 100%;
    font-family: Poppins;
    background: #000;
    color: #fff;
    font-family: Poppins;
}

#root {
    height: 100%;
    font-family: Poppins;
}

.navbar-brand {
    color: #fff !important;
    font-weight: 600;
}

.nav-link {
    color: #fff !important;
}

.splash-input {
    appearance: none;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.splash-input.btn {
    background: #38c846;
    color: rgba(255, 255, 255, 0.95);
}

.website {
    cursor: pointer;
    width: 500px;
    height: 350px;
    background: #eee;
}

.frame-name {
    font-weight: 500;
}

.iframe {
    background: #fff;
    border: none;
    overflow: hidden;
}

.small-frame-container {
    width: 500px;
    height: 300px;
    padding: 0;
    overflow: hidden;
}

.small-frame {
    transform: scale(0.5);
    transform-origin: top left;
}

.full-frame {
    width: 100%;
    height: 80%;
}

.badge {
    position: absolute;
    top: 0;
    height: 50px;
    border-radius: 50%;
    background: #fff;
}

.smallTitle {
    margin-top: 0;
    padding-top: 0px;
    text-align: left;
}

.header {
    padding-top: 200px;
    padding-bottom: 20 px;
    font-weight: bold;
}

.input {
    color: #838383;
    text-align: center;
    padding: 8px 90px;
}

.button {
    background-color: #49b738; /* Green */
    border: none;
    color: white;
    padding: 8px 151px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.chat {
    background: #2d2d2d;
    height: 100vh;
    width: 311px;
    display: flex; 
    position: fixed; 
    top: 0; 
    right: 0;
}
.chat-header{
  margin-top: 20px;
  margin-left: 20px;
}
.chat-form{

    display: flex; 
    height: 3rem; 
    position: fixed; 
    bottom: 0; 
    right: 0;
}
.chat-input {
    border: none;
    padding: 0 1rem;
    width: 311px;
}
.chat-messages{
    list-style-type: none; 
    margin-left: -109px;
    padding-top: 50px;

}



.chat-names{
    color: grey;
    font-size: 10px;
}

.incoming-message{
    padding: 0.5rem 1rem;
    background-color: rgb(173, 255, 153);
    color: black;
    margin-top: 20px;
    width: 250px;
    
}
.outgoing-message{
    padding: 0.5rem 1rem;
    background-color: rgb(253, 231, 255);
    color: black;
    margin-top: 20px;
    width: 250px;
    margin-left: 60px;
    
}

.chat-input:focus {
    outline: none;
}

.splash {
    text-align: center;
}

