.chat{
    margin-right:5vw;
}

#form { 
    padding: 0.25rem;
    display: flex;
    width: 18vw;
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
}
 
#input {
    flex-grow: 1;
    border: none; 
    padding: 0 1rem; 
    border-radius: 2rem; 
    margin: 0.25rem; 
}

#input:focus { 
    outline: none; 
}